<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        
        
        
        <bean class="com.java.setter.getters.application1.Student" id="id1">
        
        <property name="id">
        <value>1</value>
        </property>
        
        
        <property name="name" value="mahesh"/>
        <property name="address" value="vizag"/>
        <property name="email" value="mahesh@gmail.com"/>
        <property name="password">
         <value>mahesh@123</value>
        </property>
        </bean>
        
            
        <bean class="com.java.application2.Emp" id="id2">
    
    <constructor-arg name="id" value="2"/>
    <constructor-arg name="name" value="madhu"/>
    <constructor-arg name="email" value="madhu@gmail.com"/>
    <constructor-arg name="address" value="vzm"/>
    <constructor-arg name="password" value="madhu@1234"/>
    </bean>
        
        
        
        
        </beans>
        
        
        